.logout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logoutBtn {
    flex: 1;
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    background-color: #027aff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.logoutBtn:hover {
    transform: scale(1.10);
    background-color: rgba(63, 63, 63, 0.6);
}